<footer class="footer">
        <div class="footer_area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="footer_info text-center">
                            <div class="footer_logo text-center">
                                <a href="#">
                                    <img src="img/?footer-logo.png" alt="Logo pic">
                                </a>
                            </div>
                            <p class="footer_text">
                                Something personal...
                            </p>
                            <div class="header_links">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a class="twiter" href="#"> <i class="fa fa-twitter"></i> </a></li>
                                    <li><a class="insta" href="#"> <i class="fa fa-instagram"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom ">
            <div class="container">
                <div class="footer_border">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="footer_links text-center">
                                <ul>
                                    <li><a href="{% url 'home' %}">home</a></li>
                                    <li><a href="{% url 'gallery' %}">gallery</a></li>
                                    <li><a href="{% url 'blog' %}">blog</a></li>
                                    <li><a href="{% url 'gallery' %}">contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright_text text-center">
                <p>
<script>document.write(new Date().getFullYear());</script> This site is made with <i class="fa fa-heart-o" aria-hidden="true">
                </i> by <a href="https://JWeb.club" target="_blank">JWeb.club</a>
</p>
            </div>
        </div>
    </footer>