{% extends 'blog/article.html' %}
{% load staticfiles %}

{% block content %}
    {% for p in posts %}
{#        <!-- Comments -->#}
{#        <h4>{{ p.category }}</h4>#}
				<div class="comments">

{#					<!-- Comment -->#}
					<div class="comment">

                        <div class="comm_hdr">
                            <a href="{% url 'post_detail' pk=p.pk %}"><h3>{{ p.title }}</h3></a>
							<p align="left">{{ p.text|truncatewords:3 }} <span> | {{ p.published_date }}</span></p>
                             <br/>
						</div>

                     <div class="post_inf">
                         <br/>
{#                        <span class="pst">Это было в: {{ p.country }}</span><br/>#}
                        <span class="pst">Комментариев: {{ p.comments.count }}</span><br/>
                        <span class="posn">Автор: {{ p.author }}</span>
                        <hr width="150" align="left" size="3" color="grey">
                     </div>

                     <div class="post">
{#                             <a href= {% url "gallery/certain_photo" pk=p.pk %}> <span class="posc"> любоваться фотографией  </span></a>#}
                     </div>
{#with photos.image.url='uploads/photos' only#}
{#						<div class="avat">#}
{#							<img src="{% static 'blog/images/avatar.jpg' %}" alt="avatar" />#}
{#							<img src="{% static 'blog/images/avatar_frame.png' %}" alt="avatar_frame" class="avatar_frame" />#}
{#						</div>#}
					</div>
{#<h3 align="center">Ключевые слова</h3>#}
{#                {% for post in posts %}#}
{#                    {% for tag in post.tag.all %} {#делаем проход по нашим тегам#}
{#                        <a >{{ tag }}</a> {#выводим их на экран#}
    {#                            ставим между тегами запятые#}
{#                        {% if not forloop.last %}, {% endif %}#}
{#                    {% endfor %}#}
{#                {% endfor %}#}
				</div>

    {% endfor %}

    <!-- Pagination -->
    <div class="pagination">
    <br/>
        {% if posts.has_previous %}
            <span class="prev"><a href="{% url "post_list" %}?page={{ posts.previous_page_number }}">назад</a></span>
        {% endif %}

    <span class="current pagination">
            стр. {{ posts.number }} из {{ posts.paginator.num_pages }}
    </span>

       {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">вперед</a>
       {% endif %}

        {% for pn in posts.paginator.page_range %}
            <a href="{% url "post_list" %}?page={{ pn }}">{{ pn }}</a>
        {% endfor %}
    </div>

{% endblock %}
