{% extends 'blog/article.html' %}
{% load staticfiles %}
{% load thumbnail %}
{#{% load watermark %}#}

{% block content %}
    {% for post in posts %}
				<div class="comments">

                    <!-- Comment -->
					<div class="comment">

                        <div class="comm_hdr">
                            <a href="{% url 'post_detail' pk=post.pk %}"><h3>{{ post.title }}</h3></a>
							<p align="left">{{ post.text|truncatewords:3 }} <span> | {{ post.published_date }}</span></p>
                             <br/>
						</div>

                     <div class="post_inf">
                         <br/>
                        <span class="pst">Комментариев: {{ post.comments.count }}</span><br/>
                         {% if post.comments.count != 0 %}
                            <span class="posn">Комментировал: {{ post.author.username }}</span>
                            <hr width="150" align="left" size="3" color="grey">
                         {% endif %}
                     </div>

                     <div class="post_photo">
                        {% if post.img %}
                            <li class="center-block col-md-4 thumb">
                            <a class="thumbnail" href="{{ post.img.url }}" target="_blank">перейти к фотографии</a>
{#                            <a class="thumbnail" href="{{ post.img.url|watermark:"Logo,position=50%x7%,opacity=65,scale=2.5" }}" target="_blank">перейти к фотографии</a>#}
                            </li>
                            <img class="img-responsive"
                                    src="{% thumbnail post.img 400x170 crop %}" alt=""/>
                        {% endif %}
                     <br/>
                     </div>

					</div>
				</div>
    {% endfor %}

    <!-- Pagination -->
    {% block pagination %}
        {% include "blog/pagination.html" with page=posts %}
    {% endblock %}

{% endblock %}
