{% extends 'blog/article.html' %}
{% load static %}
{% load thumbnail %}
{#{% load watermark %}#}

{% block content %}
    {% for p in posts %}
				<div class="comments">

                    <!-- Comment -->
					<div class="comment">

                        <div class="comm_hdr">
                            <a href="{% url 'post_detail' pk=p.pk %}"><h3>{{ p.title }}</h3></a>
							<p align="left">{{ p.text|truncatewords:3 }} <span> | {{ p.published_date }}</span></p>
                             <br/>
						</div>

                     <div class="post_inf">
                         <br/>
                        <span class="pst">Комментариев: {{ p.comments.count }}</span><br/>
                        <span class="posn">Автор: {{ p.author }}</span>
                        <hr width="150" align="left" size="3" color="grey">
                     </div>

                     <div class="post_photo">
                        {% if p.img %}
                            <li class="center-block col-md-4 thumb">
                            <a class="thumbnail" href="{{ p.img.url }}" target="_blank">перейти к фотографии</a>
{#                            <a class="thumbnail" href="{{ p.img.url|watermark:"Logo,position=50%x7%,opacity=65,scale=2.5" }}" target="_blank">перейти к фотографии</a>#}
                            </li>
                            <img class="img-responsive"
                                    src="{% thumbnail p.img 400x170 crop %}" alt=""/>
                        {% endif %}
                     <br/>
                     </div>

					</div>
				</div>
    {% endfor %}

    <!-- Pagination -->
    {% block pagination%}
        {% include "blog/pagination.html" with page=page_obj %}
    {% endblock %}

{% endblock %}
