{% load i18n %}
<!DOCTYPE html>
{% load staticfiles %}
{% load countries %}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="true" name="mssmarttagspreventparsing"/>

    <title>ФОТОблог</title>
    <link href="{% static 'blog/css/style.css' %}" rel="stylesheet" type="text/css"/>

    <!-- IE fixes -->
    <!--[if IE 7]>
        <style type="text/css">
                #logo {top:50px;}
                #menu {margin:50px 0 0 500px;}
        </style>
        <![endif]-->
    <!--[if lte IE 6]>
        <style type="text/css">
                #hdl {margin:0px 0 0 250px;}
                #logo {top:50px;}
                #menu {margin:50px 0 0 500px;}
        </style>
        <script src="js/DD_belatedPNG_0.0.7a-min.js" type="text/javascript"></script>
        <script type="text/javascript">
                DD_belatedPNG.fix('#logo, .mh, .mw, .mt, .mi, .rss_twitt, .rss, #TwitterCounter, .avatar_frame, .pop_posts');
        </script>
        <![endif]-->

</head>

<body>
<!-- Wrap Div -->
<div id="wrap">

    <!-- Header -->
    <div id="hdr">

        <!-- Top Menu -->
        <div id="hdl">
            <a href="{% url 'base' %}">Главная</a>
            <a href="{% url 'post_list' %}" class="hl">Блог</a>
            <a href="{% url 'gallery' %}" class="hl">Галерея</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">{{ user.username }}, покинуть сайт?</a>
            {% else %}
                <a href="{% url 'login' %}" class="hl">Войти</a>
                <a class="mi" href="{% url 'signup' %}">Регистрироваться</a>
            {% endif %}
        </div>

        <form id="search_form" method="post" action="{% url 'search' %}">
            {% csrf_token %}
            <input class="search_field" type="search" value="?" onfocus="clS(1);" onblur="clS(0);" name="query" id="s"/>
            <input class="search_button" type="submit" value="" id="searchsubmit"/>
        </form>

        <div id="logo">
{#            <a href="{% url 'person' %}"></a>#}
        </div>

        <!-- Main Menu -->
        <div id="menu">
            <a class="mh" href="{% url 'base' %}">Главная</a>
            <a class="mt" href="{% url 'post_list' %}">Блог</a>
            <a class="mw" href="{% url 'gallery' %}">Галерея</a>
            {% if user.is_authenticated %}
                <a class="mi" href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a class="mi" href="{% url 'login' %}">Войти</a>
                <a class="mi" href="{% url 'signup' %}">Регистрироваться</a>
            {% endif %}
        </div>
    </div>

    <!-- Container -->
    <div id="cnt">
    {% block content %}

    {% endblock %}
        <!-- Left Container -->
        <div id="lcnt">

            <!-- Post -->
            <div class="post">
{##}
{#                <!-- Photo Details -->#}
{#                <div class="col-lg-12">#}
{#                    <h1 class="page-header">Галерея миниатюр</h1>#}
{#                </div>#}

                <!-- Photo Content -->
                {% block photo %}{% endblock %}
            </div>
        </div>

        <h3 align="center">Страны</h3>
        {% for c in countries %}
            <a class="pop_posts" href="{% url "country" id=c.pk %}"> тест вывода стран </a>
        {% endfor %}
        <br/>

    </div>
    <br style="clear: both;"/>

</div>


<!-- Footer -->
<div id="foo">

    <!-- Footer Container -->
    <div id="foo_d">

        <!-- Footer Menu -->
        <div id="foo_menu">

            <a href="{% url 'base' %}">Главная</a><span>.</span>
            <a href="{% url 'post_list' %}">Блог</a><span>.</span>
            <a href="{% url 'gallery' %}">Галерея</a><span>.</span>
            <a href="#">Контактная информация</a>

        </div>
        <p>2019 JWebClub <a target="_blank" href="http://jweb.club/">Понравился сайт? Закажите </a></p>

    </div>

</div>

</body>

</html>
